.DS_Store
.vscode
.idea

.cache
__pycache__
.pytest_cache

/commit
*.tar.gz
*.tar

/target

pytest.ini
.eggs/
dist/
*.egg-info/
*.dist-info/
build/

.pypirc
.local
version
*.txt

Pipfile.lock
pylint-output/

.pylint.d
